/* Font Icon Library*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

/* Font Families */
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis&display=swap');




/* Website details */
/* 
Color palette: 
    Blues:
        #E1ECF7
        #CAE9FF -Used this one(Nav Bar and Name)
        #AECBEB
        #5FA8D3
        #1B4965
    Greens:
        #A1CCA5 -Used this one(Background)
        #8FB996
        #709775
        #415D43 -Used this one(Main Text Content)

        #335848 rgba(51, 88, 72, 0.8) - Nav background and projects background
    Black:
        #111D13 -Used this one(Hover and Main Body Text Headers)
    White: 
        #F8F9FB


    Used Colors:
        #335848;
        #CAE9FF;
        #415D43;
        #A1CCA5;
        #111D13;
        #1B4965;
        #F8F9FB;  
        white;
        grayscale(1) brightness(0.2);
        rgba(51, 88, 72, 0.5);


Font style: 
    Dosis w/ font-family: 'Dosis', sans-serif;
    Dancing Script w/ font-family: 'Dancing Script', cursive; 
*/


@media (max-width: 1600px) {
    .ArtworkIMGHeaders {
        font-size: 16px;
        color: #F8F9FB;
        text-align: center;
        font-family: 'Dosis', sans-serif;
    }
    
    .ArtworkIMGText {
        font-size: 12px;
        color: #F8F9FB;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        margin: 5px;
        width: 80%;
    
    }
    .ArtworkIMGHeadersFavorite {
        font-size: 36px;
        color: #F8F9FB;
        text-align: center;
        font-family: 'Dosis', sans-serif;
    }
    
    .ArtworkIMGTextFavorite {
        font-size: 30px;
        color: #F8F9FB;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        margin: 5px;
        width: 80%;
    
    }
    .ArtWorkColumn::after {
        content: "";
        position: absolute;
        inset: 0;
        border: 2px solid white;
        border-radius: inherit;
        opacity: 0;
        transition: 0.4s ease-in-out;
    }
}

@media (max-width: 1250px) {
    .ArtworkIMGHeaders {
        font-size: 10px;
        color: #F8F9FB;
        text-align: center;
        font-family: 'Dosis', sans-serif;
    }

    .ArtworkIMGText {
        font-size: 6px;
        color: #F8F9FB;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        margin: 5px;
        width: 80%;

    }
    .ArtworkIMGHeadersFavorite {
        font-size: 28px;
        color: #F8F9FB;
        text-align: center;
        font-family: 'Dosis', sans-serif;
    }
    
    .ArtworkIMGTextFavorite {
        font-size: 22px;
        color: #F8F9FB;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        margin: 5px;
        width: 80%;
    
    }
    .ArtWorkColumn::after {
        content: "";
        position: absolute;
        inset: 0;
        border: none;
        border-radius: inherit;
        opacity: 0;
        transition: 0.4s ease-in-out;
    }
}

@media (max-width: 769.9px) {
    .ArtworkIMGHeaders {
        font-size: 32px;
        color: #F8F9FB;
        text-align: center;
        font-family: 'Dosis', sans-serif;
    }

    .ArtworkIMGText {
        font-size: 20px;
        color: #F8F9FB;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        margin: 5px;
        width: 80%;

    }
    .ArtworkIMGHeadersFavorite {
        font-size: 25px;
        color: #F8F9FB;
        text-align: center;
        font-family: 'Dosis', sans-serif;
    }
    
    .ArtworkIMGTextFavorite {
        font-size: 18px;
        color: #F8F9FB;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        margin: 5px;
        width: 80%;
        overflow-x: scroll;
    
    }
    .ArtWorkColumn::after {
        content: "";
        position: absolute;
        inset: 0;
        border: 2px solid white;
        border-radius: inherit;
        opacity: 0;
        transition: 0.4s ease-in-out;
    }

}



/* Styling Name Header */
.PortfolioName {
    font-family: 'Dancing Script', cursive;
    font-size: 44px;
    color: #415D43;
    text-align: center;
    padding-top: 10px;
}

.fa-user {
    color: #CAE9FF;
}


/* Nav Bar styling */

nav {
    top: 0;
    background-color: #335848;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: none;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: right;

}

nav li {
    display: inline-block;
    padding: 5px;
}

.nava {
    margin: 0 30px;
    /* Distance between links*/
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    background-color: #335848;
    color: #CAE9FF;
    font-size: 24px;
}

nav a:hover {
    color: #111D13;
}

.navBarContent {
    justify-content: flex-end;
}




/* Body Div */
.bodyDiv {
    background-color: #A1CCA5;
    padding: 0px;
    padding-right: 0px;
    margin: 0px;
    height: 100%
}




/* Self Portrait styling */
.KlemmeIMGContact {
    border-radius: 50%;
    margin: 0px;
    padding: 20px;
}

.KlemmeIMG {
    border-radius: 25px;
    padding: 10px;
}




/* Home Page Styling */
hr.HomeName {
    border: 1px solid #1B4965;
    margin-bottom: 20px;
}

p.fillingText {
    font-family: 'Dosis', sans-serif;
    text-align: justify;
    font-size: 18px;
    line-height: 150%;
    text-indent: 30px;
}

.ProjectArtworkHeader {
    text-align: center;
}

.MySkillsHeader {
    text-align: center;
    margin-bottom: 0px;
}

.SkillsIcons {
    filter: grayscale(100%);
    max-width: 65px;
    max-height: 65px;
    width: 100%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.SkillsIconsContainer {
    display: flex;
    justify-content: center;
    /* aligns items horizontally in the center */
    align-items: center;
    /* aligns items vertically in the center */
    flex-wrap: wrap;
}


/* Contact Page styling */
.FontIcon {
    color: #111D13;
    padding-right: 20px;
    padding-left: 20px;
}

.FontIconFooter {
    color: #111D13;
    padding-right: 5px;
    padding-left: 5px;
}

.iconDiv {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.icon-container {
    display: flex;
    justify-content: center;
}

.ContactTextDiv {
    margin: 0px;
    padding: 20px;
}

.ContactMainDiv {
    height: 617px;
}

/* Project Page Styling */

.ProjectSpacing {
    margin-bottom: 60px;
}

.ProjectMidSpacing {
    margin-bottom: 30px;
}

.ProjectContainers {
    background-color: rgba(51, 88, 72, 0.5);
    border-radius: 8px;
    padding: 20px;
    border: 1px solid #335848;
}

.topPageHeader {
    margin-top: 30px;
}

.SectionHeaders {
    font-family: 'Dancing Script', cursive;
    font-size: 44px;
    color: #415D43;
    text-align: center;
    margin-bottom: 0px;
}


/* Hover over Image affect */
.ArtWorkColumn {
    aspect-ratio: 1 / 0.7;
    border-radius: 8px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.artworkImage-box {
    position: relative;
}

.artworkcontent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.artworkImage-box:hover .artworkcontent {
    opacity: 1;
}

.artworkImage-box img {
    width: 100%;
    height: auto;
}

.ArtWorkColumn .artworkImage-box .ArtWorkIMGS {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}


.artworkImage-box:hover .ArtWorkIMGS {
    filter:
        grayscale(1) brightness(0.2);
}

.artworkImage-box:hover::after {
    opacity: 1;
    inset: 40px;
}

.ArtWorkColumn:hover .artworkImage-box .artworkcontent h5 {
    scale: 1;
    opacity: 1;
}

.ArtWorkColumn:hover .artworkcontent .artworktext {
    opacity: 1;
    transform: translateY(0);
}

.ArtWorkIMGS {
    border-radius: 8px;;
}



/* Footer */

.PaddingBottomRow {
    padding-bottom: 45px;
}

.CopyRightText {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
    font-size: 12px;
    margin-bottom: 0px;
}

.ContactIconNote {
    justify-content: left;
    text-align: left;
    padding-left: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #335848;
    font-size: 12px;
    color: #111D13
}


.FooterNameText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 12px;
    margin-bottom: 0px;
}